Repository Finastra/finastra-nodejs-libs: changes, and which Codecov flags are due for each by the changed paths.
All: oidc, proxy

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      default:
        target: 80%

comment: false

flags:
  oidc:
    paths:
      - libs/oidc/src/
  proxy:
    paths:
      - libs/proxy/src/

fix(oidc): fix circular dependency, display request url on http filte… (#155)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/filters/http-exception.filter.ts
  package-lock.json
  package.json
Due: oidc

fix(oidc): fix circular dependency, display request url on http filte… (#155) (#156)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/filters/http-exception.filter.ts
  package-lock.json
  package.json
Due: oidc

fix(oidc): HttpException Filter : Output specific attributes of the request
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/filters/http-exception.filter.ts
  package.json
Due: oidc

Fix/missing request in log (#158)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/filters/http-exception.filter.ts
Due: oidc

Release oidc (#159)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/filters/http-exception.filter.ts
Due: oidc

feat(oidc): Possibility to hardcode the channel type via `channelType` property in module configuration
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant-multichannel.controller.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

fix(oidc): error message displayed
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
Due: oidc

fix(logger): fix err display
  libs/logger/CHANGELOG.md
  libs/logger/package.json
  libs/logger/src/oms/oms.logger.service.ts
Due: none

fix undefined request for graphql context
  libs/oidc/src/guards/token.guard.ts
Due: oidc

fix token guard test
  libs/oidc/src/guards/token.guard.ts
Due: oidc

refactoring
  libs/oidc/src/guards/token.guard.ts
Due: oidc

bugfix(token-guard): fix undefined request for graphql context (#171)
  libs/oidc/src/guards/token.guard.ts
Due: oidc

fix(oidc): upgrade version and update changelog
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

fix(oidc): Fix tenant-switch to actually redirect to requested tenant
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  package.json
Due: none

fix package lock
  package-lock.json
Due: none

fix(oidc): Fix tenant-switch to actually redirect to requested tenant (#173)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  package-lock.json
  package.json
Due: none

fix changelog
  libs/oidc/CHANGELOG.md
Due: none

Bugfix/tenant switch redirect (#174)
  libs/oidc/CHANGELOG.md
Due: none

Release oidc (#172)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/guards/token.guard.ts
  package-lock.json
  package.json
Due: oidc

hmm
  generate-typings.ts
  libs/ffdc-apis/corporate-accounts/src/interfaces/graphql.interface.ts
  libs/logger/src/oms/oms.logger.service.ts
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/login-callback.controller.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/setup-session.ts
  libs/proxy/src/controllers/proxy.controller.spec.ts
  libs/proxy/src/controllers/proxy.controller.ts
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
  package-lock.json
  package.json
  src/typings.d.ts
  tsconfig.json
Due: oidc, proxy

stuff
  package-lock.json
  src/typings.d.ts
  src/typings/express/index.d.ts
Due: none

stuff
  libs/oidc/src/utils/setup-session.ts
  package-lock.json
  package.json
  src/typings/express/index.d.ts
Due: oidc

fix
  libs/ffdc-apis/corporate-accounts/src/interfaces/graphql.interface.ts
Due: none

fix
  package-lock.json
Due: none

fix
  libs/logger/src/oms/oms.logger.service.ts
Due: none

stuff
  libs/logger/src/interceptors/graphql.interceptor.spec.ts
  libs/logger/src/oms/oms.logger.service.ts
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/proxy.constants.ts
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.ts
  package-lock.json
  package.json
Due: proxy

fix tests
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/utils/external-idps.ts
Due: oidc

fix tests
  libs/oidc/src/utils/external-idps.spec.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/utils/url.utils.ts
Due: oidc, proxy

tweak
  package-lock.json
  package.json
Due: none

tweaks
  libs/ffdc-apis/corporate-accounts/package.json
  libs/logger/package.json
  libs/oidc/package.json
  libs/proxy/package.json
Due: none

fix double slash
  libs/proxy/src/utils/url.utils.ts
Due: proxy

fix logging
  libs/proxy/src/controllers/proxy.controller.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

fix
  libs/proxy/src/utils/index.ts
  libs/proxy/src/utils/string.utils.spec.ts
  libs/proxy/src/utils/string.utils.ts
  libs/proxy/src/utils/url.utils.ts
Due: proxy

fix(oidc): refresh token response if no user and token guard not used
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

fix(oidc): refresh token response if no user and token guard not used (#178)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

connect mongo
  libs/oidc/package-lock.json
  libs/oidc/package.json
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/session/index.ts
  libs/oidc/src/utils/session/session-in-memory.spec.ts
  libs/oidc/src/utils/session/session-in-memory.ts
  libs/oidc/src/utils/session/session-mongo.spec.ts
  libs/oidc/src/utils/session/session-mongo.ts
  libs/oidc/src/utils/setup-session.spec.ts
  libs/oidc/src/utils/setup-session.ts
  libs/oidc/tsconfig.lib.json
  libs/proxy/src/utils/url.utils.ts
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Due: oidc, proxy

bump packages and update changelogs
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/logger/CHANGELOG.md
  libs/logger/package.json
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
Due: none

feat(all): upgrade to nest 8 (#177)
  generate-typings.ts
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/ffdc-apis/corporate-accounts/src/interfaces/graphql.interface.ts
  libs/logger/CHANGELOG.md
  libs/logger/package.json
  libs/logger/src/interceptors/graphql.interceptor.spec.ts
  libs/logger/src/oms/oms.logger.service.ts
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/login-callback.controller.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/utils/external-idps.spec.ts
  libs/oidc/src/utils/external-idps.ts
  libs/oidc/src/utils/setup-session.ts
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/controllers/proxy.controller.spec.ts
  libs/proxy/src/controllers/proxy.controller.ts
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/proxy.constants.ts
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
  libs/proxy/src/utils/index.ts
  libs/proxy/src/utils/string.utils.spec.ts
  libs/proxy/src/utils/string.utils.ts
  libs/proxy/src/utils/url.utils.ts
  package-lock.json
  package.json
  tsconfig.json
Due: oidc, proxy

merge develop
  libs/oidc/src/utils/session/session-in-memory.ts
Due: oidc
