Repository Finastra/finastra-nodejs-libs: changes, and which Codecov flags are due for each by the changed paths.
All: oidc, proxy

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      default:
        target: 80%

comment: false

flags:
  oidc:
    paths:
      - libs/oidc/src/
  proxy:
    paths:
      - libs/proxy/src/

fix(oidc): fix trustIssuer, and client used from oidc service in multitenant config
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/user-info.ts
  src/configs/oidc-config.service.ts
Due: oidc

feat(oidc): Page to warn about tenant change
  libs/oidc/CHANGELOG.md
  libs/oidc/src/assets/tenant-switch.html
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/filters/index.ts
  libs/oidc/src/filters/misdirected.filter.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/interfaces/http-status.enum.ts
  libs/oidc/src/interfaces/index.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

test(oidc): full coverage
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/filters/misdirected.filter.spec.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

refactor(oidc): split tenant-switch controller
  libs/oidc/src/controllers/index.ts
  libs/oidc/src/controllers/tenant-switch.controller.spec.ts
  libs/oidc/src/controllers/tenant-switch.controller.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/oidc.module.ts
Due: oidc

test(oidc)
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/utils/user-info.spec.ts
Due: oidc

fix(oidc): fix isAvailableRouteForMultitenant(false)
  libs/oidc/src/guards/tenancy.guard.ts
Due: oidc

fix(oidc): fix logout on tenant switch
  libs/oidc/src/assets/tenant-switch.html
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/controllers/tenant-switch.controller.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

test(oidc): tenant switch and logout
  libs/oidc/src/controllers/auth-multitenant.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

doc(oidc): update changelog
  libs/oidc/CHANGELOG.md
Due: none

test(oidc): fix tenant switch test
  libs/oidc/src/controllers/tenant-switch.controller.spec.ts
Due: oidc

build(oidc): fix package version
  libs/oidc/package.json
Due: none

fix(oidc): fix access to routes not protected with isMultitenant decorator
  libs/oidc/CHANGELOG.md
  libs/oidc/src/guards/tenancy.guard.ts
Due: oidc

fix(oidc): update package version
  libs/oidc/package.json
Due: none

prettier tweaks
  .prettierignore
  .prettierrc
  generate-typings.ts
  libs/ffdc-apis/corporate-accounts/src/services/corporate-accounts.service.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/external-idps.ts
  libs/oidc/src/utils/user-info.spec.ts
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: oidc, proxy

ok
  .prettierignore
  libs/oidc/CHANGELOG.md
Due: none

tweaks
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/interfaces/user.interface.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/user-info.ts
Due: oidc

tweaks
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

fix
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/services/oidc.service.spec.ts
Due: oidc

Update libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/controllers/auth.controller.ts
Due: oidc

updates
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/interfaces/user.interface.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/user-info.ts
Due: oidc

tweaks
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/decorators/current-user.decorator.ts
Due: oidc

update changelog
  libs/oidc/CHANGELOG.md
Due: none

Update libs/oidc/src/utils/user-info.ts
  libs/oidc/src/utils/user-info.ts
Due: oidc

fix
  libs/oidc/src/utils/user-info.spec.ts
Due: oidc

update readme
  libs/oidc/README.md
Due: none

fix current user decorator
  libs/oidc/src/decorators/current-user.decorator.ts
Due: oidc

fix actions
  .github/workflows/develop.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

fix
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/decorators/current-user.decorator.spec.ts
Due: oidc

feat(oidc): do not prefix login/callback and get tenant and channel from express session
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/controllers/index.ts
  libs/oidc/src/controllers/login-callback.controller.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

test(oidc): fix test coverage to 100%
  libs/oidc/src/controllers/auth-multitenant.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/controllers/login-callback.controller.spec.ts
  libs/oidc/src/services/oidc.service.spec.ts
Due: oidc

doc(oidc): add changelog and update version
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

fix(oidc): version value
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

test(oidc): add missing strategy property
  libs/oidc/src/strategies/oidc.strategy.spec.ts
Due: oidc

feat(logger): :sparkles: New logger module
  .github/workflows/develop.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
  .vscode/settings.json
  README.md
  libs/logger/CHANGELOG.md
  libs/logger/README.md
  libs/logger/package.json
  libs/logger/src/index.ts
  libs/logger/src/interceptors/common-http-service.interceptor.spec.ts
  libs/logger/src/interceptors/common-http-service.interceptor.ts
  libs/logger/src/interceptors/index.ts
  libs/logger/src/logger.module.spec.ts
  libs/logger/src/logger.module.ts
  libs/logger/src/oms/OMSLog.interface.ts
  libs/logger/src/oms/OMSLogOutput.ts
  libs/logger/src/oms/index.ts
  libs/logger/src/oms/oms.logger.service.spec.ts
  libs/logger/src/oms/oms.logger.service.ts
  libs/logger/tsconfig.lib.json
  nest-cli.json
  package.json
  src/app.module.ts
  src/main.ts
  tsconfig.json
Due: none

fix publish for scoped packages
  .github/workflows/release.yml
Due: none

ci: Dissociate setup and test from build
  .github/workflows/pr-build.yml
  libs/logger/package.json
  libs/oidc/package.json
  libs/proxy/package.json
Due: none

fix yaml formating
  .github/workflows/pr-build.yml
Due: none
