Repository Finastra/finastra-nodejs-libs: changes, and which Codecov flags are due for each by the changed paths.
All: oidc, proxy

docs(proxy): :pencil2: Fix typo
  .vscode/extensions.json
  libs/proxy/CHANGELOG.md
Due: none

[Proxy] cookies forwarding (#232)
  .vscode/extensions.json
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  src/configs/proxy-config.service.ts
Due: proxy

Release Proxy (#233)
  .vscode/extensions.json
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/package.json
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
  package-lock.json
  src/configs/proxy-config.service.ts
Due: proxy

feat: upgrade dependencies to make compatible with nestjs v9
  libs/ffdc-apis/corporate-accounts/package.json
  libs/logger/CHANGELOG.md
  libs/logger/package.json
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
  package-lock.json
  package.json
  src/app.module.ts
  src/configs/graphql-config.service.ts
Due: oidc

fix unit tests
  libs/logger/src/oms/oms.logger.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

feat: upgrade dependencies to make compatible with nestjs v9 (#235)
  libs/ffdc-apis/corporate-accounts/package.json
  libs/logger/CHANGELOG.md
  libs/logger/package.json
  libs/logger/src/oms/oms.logger.service.spec.ts
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
  package-lock.json
  package.json
  src/app.module.ts
  src/configs/graphql-config.service.ts
Due: oidc

fix passport issue
  package-lock.json
  package.json
Due: none

fix passport issue (#238)
  package-lock.json
  package.json
Due: none

fix passport issue (#238) (#239)
  package-lock.json
  package.json
Due: none

update oidc changelog
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

upgrade correct deps :|
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/package.json
Due: none

update version and changelogs
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

fix: downgrade passport version (#240)
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

fix: downgrade passport version (#240) (#241)
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

change trace display name
  libs/logger/CHANGELOG.md
  libs/logger/package.json
  libs/logger/src/oms/oms.logger.service.ts
Due: none

feat(oidc): Add email to user infos if present in the id_token
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/interfaces/user.interface.ts
  libs/oidc/src/utils/user-info.ts
Due: oidc

test(oidc): :white_check_mark: Missing test for 100% coverage on user info
  libs/oidc/src/utils/user-info.spec.ts
  libs/oidc/src/utils/user-info.ts
Due: oidc

feat(oidc): Add email to user infos if present in the id_token (#251)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/interfaces/user.interface.ts
  libs/oidc/src/utils/user-info.spec.ts
  libs/oidc/src/utils/user-info.ts
Due: oidc

Release oidc (#252)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/interfaces/user.interface.ts
  libs/oidc/src/utils/user-info.spec.ts
  libs/oidc/src/utils/user-info.ts
  package-lock.json
  package.json
Due: oidc

Bumping @nestjs/jwt to 10.0.1
  package.json
Due: none

fix nestjs/jwt
  .npmrc
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/package.json
  package-lock.json
  package.json
Due: none

Relase oidc and ffdc apis
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

Prepare relase oidc and ffdc apis (#256)
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

upgrade passport to 0.6.0
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/package.json
  package-lock.json
  package.json
Due: none

Update passport-jwt
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/package.json
Due: none

Prepare Release
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

destroy session after logout is processed
  libs/oidc/src/services/oidc.service.ts
Due: oidc

fix test
  libs/oidc/src/services/oidc.service.spec.ts
Due: oidc

prepare release
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

destroy session only after logout is processed (#266)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

fix whitesource
  libs/oidc/package.json
  package.json
Due: none

fix
  libs/oidc/package.json
Due: none

prepare release
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  package-lock.json
Due: none

update package-lock
  package-lock.json
  package.json
Due: none

fix(proxy): allow "Content-Type" & "Accept" headers provided by request
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.ts
Due: proxy

fix(proxy): allow "Content-Type" & "Accept" headers provided by request (#277)
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.ts
Due: proxy

Update CHANGELOG.md
  libs/proxy/CHANGELOG.md
Due: none

Release proxy (#278)
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.ts
  package-lock.json
  package.json
Due: proxy

fix(oidc): :ambulance: Promisify passport.authenticate #272
  libs/oidc/src/services/oidc.service.ts
Due: oidc

changing promisification of passport authenticate
  libs/oidc/src/services/oidc.service.ts
Due: oidc

Path conditions:
  oidc: any of: libs/oidc/src/
  proxy: any of: libs/proxy/src/
