Repository Finastra/finastra-nodejs-libs: changes, and which Codecov flags are due for each by the changed paths.
All: oidc, proxy

feat(corp-accounts): Base for GraphQL usage
  README.md
  generate-typings.ts
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/README.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/ffdc-apis/corporate-accounts/src/constants.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.graphql
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.module.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.service.spec.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.service.ts
  libs/ffdc-apis/corporate-accounts/src/decorators.ts
  libs/ffdc-apis/corporate-accounts/src/graphql.ts
  libs/ffdc-apis/corporate-accounts/src/index.ts
  libs/ffdc-apis/corporate-accounts/src/interfaces.ts
  libs/ffdc-apis/corporate-accounts/tsconfig.lib.json
  nest-cli.json
  package-lock.json
  package.json
  src/app.module.ts
  tsconfig.json
Due: none

feat(corp-accounts): Add resolver for account statement
  libs/ffdc-apis/corporate-accounts/README.md
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.graphql
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.service.ts
  libs/ffdc-apis/corporate-accounts/src/graphql.ts
Due: none

fix(oidc): fix default userInfoMethod to token
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/oidc.constants.ts
Due: oidc

feat(account-services): Upgrade to Nest v7
  generate-typings.ts
  libs/ffdc-apis/corporate-accounts/README.md
  libs/ffdc-apis/corporate-accounts/src/constants.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/decorators.ts
  libs/ffdc-apis/corporate-accounts/src/graphql.ts
  libs/ffdc-apis/corporate-accounts/src/index.ts
  libs/oidc/package.json
  libs/oidc/src/guards/token.guard.ts
  nest-cli.json
  package-lock.json
  package.json
  src/app.module.ts
  src/configs/graphql-config.service.ts
  src/configs/oidc-config.service.ts
  src/configs/proxy-config.service.ts
Due: oidc

feat(corp-accounts): Separate interface exposal
  .github/workflows/develop.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
  generate-typings.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.service.ts
  libs/ffdc-apis/corporate-accounts/src/index.ts
  libs/ffdc-apis/corporate-accounts/src/interfaces/ffdc.interface.ts
  libs/ffdc-apis/corporate-accounts/src/interfaces/graphql.interface.ts
  libs/ffdc-apis/corporate-accounts/src/interfaces/index.ts
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

refactor(corp-accounts): Simplify gql resolvers
  libs/ffdc-apis/corporate-accounts/README.md
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.graphql
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.module.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.service.ts
  libs/ffdc-apis/corporate-accounts/src/decorators/current-user.decorator.ts
  libs/ffdc-apis/corporate-accounts/src/decorators/fields-args.decorator.ts
  libs/ffdc-apis/corporate-accounts/src/decorators/index.ts
  libs/ffdc-apis/corporate-accounts/src/index.ts
  libs/ffdc-apis/corporate-accounts/src/interfaces/graphql.interface.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-balance.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-basic.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-detail.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-statement.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-w-balance.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts-balance.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/index.ts
Due: none

style(corp-accounts): Remove unused imports
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-balance.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-basic.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-detail.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-statement.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-w-balance.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts-balance.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts.resolver.ts
Due: none

test(corp-accounts): unit tests
  README.md
  libs/ffdc-apis/corporate-accounts/README.md
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.module.spec.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.service.spec.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.service.ts
  libs/ffdc-apis/corporate-accounts/src/decorators/current-user.decorator.spec.ts
  libs/ffdc-apis/corporate-accounts/src/decorators/fields-args.decorator.spec.ts
  libs/ffdc-apis/corporate-accounts/src/decorators/fields-args.decorator.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-balance.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-basic.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-basic.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-detail.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-statement.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-w-balance.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-w-balance.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts-balance.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts.resolver.ts
  libs/oidc/src/guards/token.guard.spec.ts
Due: oidc

[workflows] fix artefact name
  .github/workflows/pr-build.yml
Due: none

[workflow] fix typo
  .github/workflows/pr-build.yml
Due: none

[workflow] use var from env
  .github/workflows/pr-build.yml
Due: none

[workflow] set correct env
  .github/workflows/pr-build.yml
Due: none

[workflow] apply changes to develop and master
  .github/workflows/develop.yml
  .github/workflows/release.yml
Due: none

build(corporate-accounts): Fix build with correct param
  .github/workflows/develop.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

build(corp-accounts): Create var for library name to use in build cmd
  .github/workflows/develop.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

build(corp-accounts): Fix outDir path to include ffdc-apis prefix
  libs/ffdc-apis/corporate-accounts/tsconfig.lib.json
Due: none

docs(oidc|proxy): Add a global description for the modules
  README.md
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/proxy/README.md
  libs/proxy/package.json
Due: none

fix(security): fix minimist vulnerability
  package-lock.json
  package.json
Due: none

fix(corp-accounts): fix interfaces exports in npm package
  libs/ffdc-apis/corporate-accounts/package.json
Due: none

feat(oidc|proxy): Harmonize modules registration
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/oidc.module.spec.ts
  libs/oidc/src/oidc.module.ts
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/package.json
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  package-lock.json
  package.json
  src/app.module.ts
  src/configs/oidc-config.service.ts
Due: oidc, proxy

fix(corporate-accounts): Add missing limit & offset params for statement
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.graphql
  libs/ffdc-apis/corporate-accounts/src/interfaces/graphql.interface.ts
Due: none

fix(oidc): unauthorized request return 401 error
  libs/oidc/CHANGELOG.md
  libs/oidc/src/guards/token.guard.spec.ts
  libs/oidc/src/guards/token.guard.ts
Due: oidc

feat(oidc): add custom http options, remove s from scope, generate nonce value if needed
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/oidc.module.spec.ts
  libs/oidc/src/oidc.module.ts
  src/configs/oidc-config.service.ts
Due: oidc

feat(oidc): update changelog and nonce to true generates an uuid, otherwise if it exists, it takes the value
  libs/oidc/CHANGELOG.md
  libs/oidc/src/oidc.module.ts
Due: oidc

feat(oidc): add user info callback
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  src/configs/oidc-config.service.ts
Due: oidc

feat(oidc): remove userInfoCallback in test app
  src/configs/oidc-config.service.ts
Due: none

feat(oidc): call userInfoCallback after userInfo call either it is remote or not
  libs/oidc/src/strategies/oidc.strategy.ts
Due: oidc

fix(oidc): Improve error handling
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/oidc.module.spec.ts
  libs/oidc/src/oidc.module.ts
  src/configs/oidc-config.service.ts
Due: oidc

fix config for sample app
  src/configs/oidc-config.service.ts
Due: none

feat(oidc): on http request with jwt token in header, add user in request and get user info from callback
  libs/oidc/src/guards/token.guard.ts
  src/app.module.ts
  src/main.ts
Due: oidc

feat(oidc): add changelog and update version
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

feat(oidc): simplify the way to se tokenguard and update doc
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/src/guards/token.guard.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/setup-token-guard.ts
  src/main.ts
Due: oidc

feat(oidc): revert getTokenGuard and update doc
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/setup-token-guard.ts
  src/main.ts
Due: oidc

feat(oidc): fix tests
  libs/oidc/src/guards/token.guard.spec.ts
Due: oidc

feat(oidc): user info are collected in a middleware
  libs/oidc/src/guards/token.guard.ts
  libs/oidc/src/index.ts
  libs/oidc/src/middlewares/index.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/user-info.ts
  src/app.module.ts
  src/main.ts
Due: oidc

feat(oidc) testx
  libs/oidc/src/guards/token.guard.spec.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/utils/user-info.spec.ts
Due: oidc

feat(oidc): Move user middleware to oidc module
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/oidc.module.ts
  src/app.module.ts
Due: oidc

test(oidc): middleware unit tests
  libs/oidc/src/middlewares/user.middleware.spec.ts
Due: oidc

feat(oidc): doc
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
Due: none

test(oidc): Test applying middleware
  libs/oidc/src/oidc.module.spec.ts
Due: oidc

Path conditions:
  oidc: any of: libs/oidc/src/
  proxy: any of: libs/proxy/src/
