Repository Finastra/finastra-nodejs-libs: changes, and which Codecov flags are due for each by the changed paths.
All: oidc, proxy

feat(oidc): Provide tokenguard to facilitate usage
  libs/oidc/src/oidc.module.ts
  src/main.ts
Due: oidc

feat(oidc): doc
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
Due: none

docs(oidc): fix doc
  libs/oidc/README.md
Due: none

docs(oidc): Fix Table of Content
  libs/oidc/CHANGELOG.md
Due: none

feat(oidc): update doc
  libs/oidc/CHANGELOG.md
Due: none

fix(oidc): Resolve userinfo
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
Due: oidc

feat(oidc): fix userinfo returns promises in user middleware
  libs/oidc/CHANGELOG.md
  libs/oidc/src/middlewares/user.middleware.ts
Due: oidc

feat(corp-accounts): Get FFDC url from configuration
  libs/ffdc-apis/corporate-accounts/src/constants.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.module.spec.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.module.ts
  libs/ffdc-apis/corporate-accounts/src/index.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-balance.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-balance.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-basic.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-basic.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-detail.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-detail.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-statement.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-statement.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-w-balance.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/account-w-balance.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts-balance.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts-balance.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts.resolver.spec.ts
  libs/ffdc-apis/corporate-accounts/src/resolvers/accounts.resolver.ts
  libs/ffdc-apis/corporate-accounts/src/services/corporate-accounts.service.spec.ts
  libs/ffdc-apis/corporate-accounts/src/services/corporate-accounts.service.ts
  libs/ffdc-apis/corporate-accounts/src/services/index.ts
  libs/ffdc-apis/corporate-accounts/src/services/request.service.ts
Due: none

feat(corp-accounts): Make module dynamic
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/ffdc-apis/corporate-accounts/src/constants.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.module.spec.ts
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.module.ts
  libs/ffdc-apis/corporate-accounts/src/interfaces/corporate-accounts.interface.ts
  libs/ffdc-apis/corporate-accounts/src/interfaces/index.ts
  libs/ffdc-apis/corporate-accounts/src/services/corporate-accounts.service.spec.ts
  libs/ffdc-apis/corporate-accounts/src/services/corporate-accounts.service.ts
  src/app.module.ts
Due: none

feat(oidc): fix tests and handle when userinfo endpoint call fail
  libs/oidc/CHANGELOG.md
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/utils/user-info.spec.ts
  libs/oidc/src/utils/user-info.ts
Due: oidc

bugfix(oidc): increase version to 0.7.2
  libs/oidc/package.json
Due: none

bugfix(oidc): missing await, user info from callback not added
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/utils/user-info.ts
Due: oidc

test(corp-accounts): Unit tests for module
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.module.spec.ts
  libs/ffdc-apis/corporate-accounts/src/services/request.service.ts
Due: none

docs(corp-accounts): Update import documentation
  libs/ffdc-apis/corporate-accounts/README.md
Due: none

feat(oidc): Set name of cookie
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/utils/setup-session.ts
  src/main.ts
Due: oidc

test(oidc): fix setupsession test
  libs/oidc/src/utils/setup-session.spec.ts
Due: oidc

fix(corp-accounts): Remove parameter details from accountsBalance
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/ffdc-apis/corporate-accounts/src/corporate-accounts.graphql
  libs/ffdc-apis/corporate-accounts/src/interfaces/graphql.interface.ts
Due: none

refactor(oidc): Enable multiple idp configurations (wip)
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/oidc-helpers.util.ts
  libs/oidc/src/utils/user-info.ts
  src/configs/oidc-config.service.ts
Due: oidc

feat(oidc): support multiple idps that can be called in userInfoCallback
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/user-info.ts
  src/configs/oidc-config.service.ts
Due: oidc

feat(oidc): change externalIdps from array to object
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  src/configs/oidc-config.service.ts
Due: oidc

feat(oidc): doc
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
Due: none

feat(oidc): fix external idp auth when incoming call with token
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/external-idps.spec.ts
  libs/oidc/src/utils/external-idps.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/user-info.ts
Due: oidc

test(oidc): test for when no external idp
  libs/oidc/src/middlewares/user.middleware.spec.ts
  src/configs/oidc-config.service.ts
Due: oidc

feat(oidc): changelog and version
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

fix(proxy): Log when error instead of throwing error
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

"feat(oidc): Add a logged out page for non compliant idp"
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/assets/loggedout.html
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.ts
  package-lock.json
  package.json
Due: oidc

"feat(oidc): emulate logout with prompt for certain idp"
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/guards/oidc.guard.ts
  libs/oidc/src/oidc.constants.ts
  package-lock.json
  package.json
Due: oidc

"test(oidc): code coverage for logged out cookie"
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/guards/oidc.guard.spec.ts
Due: oidc

"fix(oidc): Fix copy of loggedout page"
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  package.json
Due: none

feat(oidc): check-token endpoint with refresh query to indicate if refresh is requested
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/external-idps.ts
  libs/oidc/src/utils/oidc-helpers.util.ts
Due: oidc

feat(oidc): fix error on login if no externalIdps
  libs/oidc/src/utils/external-idps.ts
Due: oidc

Stop tests from failing :)
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
Due: oidc

"test(oidc): Test token expiration"
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
Due: oidc

feat(oidc) query discover only once
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/utils/oidc-helpers.util.ts
Due: oidc

feat(oidc): do not check and refresh externalIdps tokens and add refresh endpoint
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/oidc-helpers.util.ts
Due: oidc

"test(oidc): Fix failing tests"
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/oidc.module.spec.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/utils/external-idps.spec.ts
Due: oidc

"test(oidc): Coverage for auth controller"
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/oidc-helpers.util.spec.ts
  libs/oidc/src/utils/oidc-helpers.util.ts
Due: oidc

"test(oidc): external idps coverage"
  libs/oidc/src/oidc.module.spec.ts
  libs/oidc/src/utils/external-idps.spec.ts
Due: oidc

"test(oidc): Fix user info specs"
  libs/oidc/src/utils/user-info.spec.ts
Due: oidc

"docs(oidc): Bump to version 0.10.0"
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

Path conditions:
  oidc: any of: libs/oidc/src/
  proxy: any of: libs/proxy/src/
