Repository Finastra/finastra-nodejs-libs: changes, and which Codecov flags are due for each by the changed paths.
All: oidc, proxy

remove unused file
  CachedData/c13f1abb110fc756f9b3a6f16670df9cd9d4cf63/_listCacheSet-f617736cc797aea394e7aedb061ccaf0.code
Due: none

Bugfix/fix session duration (#195)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.ts
Due: oidc

fix missing query
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

fix missing query (#197)
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

fix(proxy): Fix calls with queryParams
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
Due: none

release oidc (#196)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: oidc, proxy

feat(login-popup): open login popup when the referer is embeded
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/services/login-popup.hbs
  libs/oidc/src/services/oidc.service.ts
  package-lock.json
  package.json
Due: oidc

fix(oidc): when access token is expired, request refresh token
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.spec.ts
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/guards/token.guard.spec.ts
  libs/oidc/src/guards/token.guard.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/has-decorator.ts
  libs/oidc/src/utils/index.ts
Due: oidc

doc(oidc): document static middleware
  libs/oidc/README.md
Due: none

fix(oidc): fix assets copy
  package.json
Due: none

Fix/401 error (#198)
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.spec.ts
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/guards/token.guard.spec.ts
  libs/oidc/src/guards/token.guard.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/has-decorator.ts
  libs/oidc/src/utils/index.ts
Due: oidc

feat(login-popup): forward query params to the redirect url
  libs/oidc/README.md
  libs/oidc/src/services/login-popup.hbs
  libs/oidc/src/services/oidc.service.ts
Due: oidc

feat(oidc): auth multitenant single channel
  .gitignore
  libs/oidc/src/controllers/auth-multitenant-multichannel.controller.spec.ts
  libs/oidc/src/controllers/auth-multitenant-multichannel.controller.ts
  libs/oidc/src/controllers/index.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  package-lock.json
  src/app.module.ts
  src/cats/cats.controller.ts
  src/configs/oidc-config.service.ts
  src/configs/oidc-configs/multitenant-multi-channel.ts
  src/configs/oidc-configs/multitenant-single-channel.ts
  src/configs/oidc-configs/single-tenant.ts
  src/main.ts
Due: oidc

fix logout
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

Tag releases
  .github/workflows/release.yml
Due: none

temporarily set on push for all branches
  .github/workflows/release.yml
Due: none

use id for step to check output in another step
  .github/workflows/release.yml
Due: none

back to master only
  .github/workflows/release.yml
Due: none

Tag releases (#201)
  .github/workflows/release.yml
Due: none

fix(base-session): remove the config that generate issue on deployed env
  libs/oidc/src/utils/session/base-session.ts
  libs/oidc/src/utils/session/session-in-memory.ts
Due: oidc

fix(base-session): remove test and revert modification of session call
  libs/oidc/src/utils/session/base-session.spec.ts
  libs/oidc/src/utils/session/session-in-memory.ts
Due: oidc

fix(base-session): remove test
  libs/oidc/src/utils/session/base-session.spec.ts
Due: oidc

fix(base-session): remove the config that generate issue on deployed env (#202)
  libs/oidc/src/utils/session/base-session.spec.ts
  libs/oidc/src/utils/session/base-session.ts
Due: oidc

docs(oidc): 0.22.5
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

Release oidc (#203)
  .github/workflows/release.yml
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/utils/session/base-session.spec.ts
  libs/oidc/src/utils/session/base-session.ts
Due: oidc

feat(proxy): remove possibility to make proxy calls without serviceId
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.ts
Due: proxy

fix unit tests
  libs/proxy/src/services/proxy.service.spec.ts
Due: proxy

feat(proxy): remove possibility to make proxy calls without serviceId (#204)
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

Release proxy (#205)
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

login popup test cov
  libs/oidc/src/services/oidc.service.spec.ts
Due: oidc

Feature/login popup (#199)
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/services/login-popup.hbs
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  package-lock.json
  package.json
Due: oidc

feat(pre-release): prepare oidc release
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package-lock.json
  libs/oidc/package.json
  package-lock.json
Due: none

feat(pre-release): prepare oidc release (#206)
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package-lock.json
  libs/oidc/package.json
  package-lock.json
Due: none

skip lib check
  tsconfig.json
Due: none

Release oidc 0.23.0 (#207)
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package-lock.json
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/services/login-popup.hbs
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  package-lock.json
  package.json
  tsconfig.json
Due: oidc

fix
  libs/oidc/src/services/oidc.service.ts
Due: oidc

tweaks
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

Add changelog and bump package
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

fix(oidc): export popup template as a string literal
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/templates/login-popup.hbs.ts
Due: oidc

Path conditions:
  oidc: any of: libs/oidc/src/
  proxy: any of: libs/proxy/src/
