Repository Finastra/finastra-nodejs-libs: changes, and which Codecov flags are due for each by the changed paths.
All: oidc, proxy

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      default:
        target: 80%

comment: false

flags:
  oidc:
    paths:
      - libs/oidc/src/
  proxy:
    paths:
      - libs/proxy/src/

merge develop
  libs/oidc/src/utils/session/session-in-memory.ts
  libs/oidc/src/utils/session/session-mongo.ts
Due: oidc

fix tests
  libs/oidc/src/middlewares/user.middleware.spec.ts
Due: oidc

session mongo specific unit tests
  libs/oidc/src/utils/session/session-mongo.spec.ts
Due: oidc

Add changelog and readme
  docker-compose.yaml
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  package-lock.json
  package.json
  src/main.ts
Due: none

fix readmes
  README.md
  libs/oidc/README.md
Due: none

refactor session options
  libs/oidc/src/utils/session/base-session.ts
  libs/oidc/src/utils/session/session-in-memory.ts
  libs/oidc/src/utils/session/session-mongo.ts
Due: oidc

remove comment
  tsconfig.json
Due: none

Feature/OIDC connect mongo (#181)
  README.md
  docker-compose.yaml
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package-lock.json
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/session/base-session.ts
  libs/oidc/src/utils/session/index.ts
  libs/oidc/src/utils/session/session-in-memory.spec.ts
  libs/oidc/src/utils/session/session-in-memory.ts
  libs/oidc/src/utils/session/session-mongo.spec.ts
  libs/oidc/src/utils/session/session-mongo.ts
  libs/oidc/src/utils/setup-session.spec.ts
  libs/oidc/src/utils/setup-session.ts
  libs/oidc/tsconfig.lib.json
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Due: oidc

Feature/OIDC connect mongo (#181) (#182)
  README.md
  docker-compose.yaml
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package-lock.json
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/session/base-session.ts
  libs/oidc/src/utils/session/index.ts
  libs/oidc/src/utils/session/session-in-memory.spec.ts
  libs/oidc/src/utils/session/session-in-memory.ts
  libs/oidc/src/utils/session/session-mongo.spec.ts
  libs/oidc/src/utils/session/session-mongo.ts
  libs/oidc/src/utils/setup-session.spec.ts
  libs/oidc/src/utils/setup-session.ts
  libs/oidc/tsconfig.lib.json
  package-lock.json
  package.json
  src/main.ts
  tsconfig.json
Due: oidc

docs(oidc):
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
Due: none

docs(oidc): (#183)
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
Due: none

change package json
  libs/oidc/package.json
Due: none

enchance security of cookies
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/utils/session/base-session.ts
  src/main.ts
Due: oidc

unit tests
  libs/oidc/src/utils/session/base-session.spec.ts
Due: oidc

enchance security of cookies (#185)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/utils/session/base-session.spec.ts
  libs/oidc/src/utils/session/base-session.ts
  src/main.ts
Due: oidc

fix(oidc): Remove top level export of `sessionMongo` to keep it's dependencies optional
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/utils/index.ts
Due: oidc

fix typo
  libs/oidc/CHANGELOG.md
Due: none

Add 'Cache-Control' header to refresh token
  libs/oidc/src/controllers/auth.controller.ts
Due: oidc

Update auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth-multitenant.controller.ts
Due: oidc

switch cookies samesite from strict to lax
  libs/oidc/src/utils/session/base-session.ts
Due: oidc

[oidc] changelog
  libs/oidc/CHANGELOG.md
Due: none

Release oidc (#189)
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/session/base-session.ts
Due: oidc

Add top level export of `sessionMongo` back but use `require` to prevent typescript from requiring unwanted dependencies for project not using it.
  .vscode/launch.json
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/session/session-mongo.ts
Due: oidc

fix(proxy): Use out of the box `URL` to parse and join urls
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.ts
  libs/proxy/src/utils/url.utils.spec.ts
  libs/proxy/src/utils/url.utils.ts
Due: proxy

fix(proxy): Use out of the box `URL` to parse and join urls (#191)
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.ts
  libs/proxy/src/utils/url.utils.spec.ts
  libs/proxy/src/utils/url.utils.ts
Due: proxy

Add Cache-Control header to all entries
  libs/oidc/src/controllers/auth-multitenant.controller.ts
Due: oidc

Add Cache-Control header for all entries
  libs/oidc/src/controllers/auth.controller.ts
Due: oidc

Add Cache-Control header to refresh token (#188)
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.ts
Due: oidc

chore(oidc):
  libs/oidc/CHANGELOG.md
Due: none

Add top level export of `sessionMongo` back but use `require` to prevent typescript from requiring unwanted dependencies for project not using it. (#190)
  .vscode/launch.json
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/session/session-mongo.ts
Due: oidc

chore(oidc): update changelog
  libs/oidc/CHANGELOG.md
Due: none

chore(oidc): update changelog
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

Release oidc & proxy (#192)
  .vscode/launch.json
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/utils/session/session-mongo.ts
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.ts
  libs/proxy/src/utils/url.utils.spec.ts
  libs/proxy/src/utils/url.utils.ts
Due: oidc, proxy

docs(proxy): Use `url-join` to parse and join urls and solve use cases when baseUrl has a subpath
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/utils/url.utils.ts
  package-lock.json
  package.json
Due: proxy

docs(proxy): Use `url-join` to parse and join urls and solve use cases when baseUrl has a subpath (#193)
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/utils/url.utils.ts
  package-lock.json
  package.json
Due: proxy

bugfix(proxy): fix package
  libs/proxy/package.json
Due: none

Release proxy (#194)
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/utils/url.utils.ts
  package-lock.json
  package.json
Due: proxy

fix(oidc): fix session expired if cookie maxAge is shorter than refresh token lifetime
  CachedData/c13f1abb110fc756f9b3a6f16670df9cd9d4cf63/_listCacheSet-f617736cc797aea394e7aedb061ccaf0.code
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.ts
Due: oidc

fix(oidc): update changelog and version
  libs/oidc/CHANGELOG.md
Due: none

fix(oidc): update only if req.session exists
  libs/oidc/src/services/oidc.service.ts
Due: oidc
