Repository Finastra/finastra-nodejs-libs: changes, and which Codecov flags are due for each by the changed paths.
All: oidc, proxy

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      default:
        target: 80%

comment: false

flags:
  oidc:
    paths:
      - libs/oidc/src/
  proxy:
    paths:
      - libs/proxy/src/

cleanup
  libs/oidc/src/services/oidc.service.ts
Due: oidc

docs(oidc): :sparkles: Adding Pierre Simon as a contributor
  libs/oidc/package.json
Due: none

fix(oidc): remove unused postbuild script
  package-lock.json
  package.json
Due: none

fix(oidc): fix template loading to be compatible with webpack (#208)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/templates/login-popup.hbs.ts
  package-lock.json
  package.json
Due: oidc

fix wrong merge conflicts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

Release oidc (#209)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/templates/login-popup.hbs.ts
  package-lock.json
Due: oidc

feat(oidc): fix teanant switch
  libs/oidc/src/guards/tenancy.guard.spec.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/mocks.ts
Due: oidc

feat(oidc): fix loggedout prefix
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

feat(oidc): Possibility to hardcode the channel type via `channelType` property in module configuration (#162)
  .gitignore
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant-multichannel.controller.spec.ts
  libs/oidc/src/controllers/auth-multitenant-multichannel.controller.ts
  libs/oidc/src/controllers/index.ts
  libs/oidc/src/guards/tenancy.guard.spec.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  src/app.module.ts
  src/cats/cats.controller.ts
  src/configs/oidc-config.service.ts
  src/configs/oidc-configs/multitenant-multi-channel.ts
  src/configs/oidc-configs/multitenant-single-channel.ts
  src/configs/oidc-configs/single-tenant.ts
  src/main.ts
Due: oidc

Release oidc (#210)
  .gitignore
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant-multichannel.controller.spec.ts
  libs/oidc/src/controllers/auth-multitenant-multichannel.controller.ts
  libs/oidc/src/controllers/index.ts
  libs/oidc/src/guards/tenancy.guard.spec.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  src/app.module.ts
  src/cats/cats.controller.ts
  src/configs/oidc-config.service.ts
  src/configs/oidc-configs/multitenant-multi-channel.ts
  src/configs/oidc-configs/multitenant-single-channel.ts
  src/configs/oidc-configs/single-tenant.ts
  src/main.ts
Due: oidc

doc(oidc): Doc how to redirect to requested url after login in static middleware
  libs/oidc/README.md
Due: none

fix(oidc): Remove signature from logged jwt
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/jwt.spec.ts
  libs/oidc/src/utils/jwt.ts
Due: oidc

fix(oidc): Remove signature from logged jwt (#212)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/jwt.spec.ts
  libs/oidc/src/utils/jwt.ts
Due: oidc

doc(oidc): Doc how to redirect to requested url after login in static middleware (#211)
  libs/oidc/README.md
Due: none

Release oidc (#213)
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/jwt.spec.ts
  libs/oidc/src/utils/jwt.ts
Due: oidc

fix(oidc): Remove log of access token altogther
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/jwt.spec.ts
  libs/oidc/src/utils/jwt.ts
Due: oidc

fix(oidc): Remove log of access token altogther (#214)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/jwt.spec.ts
  libs/oidc/src/utils/jwt.ts
Due: oidc

Release oidc (#215)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/strategies/oidc.strategy.ts
Due: oidc

fix(oidc): favicon do not throw tenant switch anymore
  libs/oidc/src/guards/tenancy.guard.ts
Due: oidc

fix(oidc): avoid auto login due to same session state cookie if a route misredirect to login page
  libs/oidc/README.md
  libs/oidc/src/middlewares/login.middleware.ts
  libs/oidc/src/oidc.constants.ts
Due: oidc

fix(oidc): fix tests
  libs/oidc/src/guards/tenancy.guard.ts
Due: oidc

fix(oidc): update package-lock
  package-lock.json
Due: none

fix(oidc): changelog and update version
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

fix(oidc): fix double prefix on logout
  libs/oidc/CHANGELOG.md
  libs/oidc/src/services/oidc.service.ts
Due: oidc

fix(oidc): Use latest version of ssr-pages
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  package-lock.json
  package.json
Due: none

fix(oidc): Use latest version of ssr-pages (#221)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  package-lock.json
  package.json
Due: none

release oidc (#222)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  package-lock.json
  package.json
Due: none

fix(oidc): Fixes post-logout redirect for single tenant config
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
  package-lock.json
Due: oidc

revert package lock
  package-lock.json
Due: none

fix(oidc): Fixes post-logout redirect for single tenant config (#224)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
Due: oidc

Release oidc (#225)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/services/oidc.service.ts
Due: oidc

Update package.json
  libs/oidc/package.json
Due: none

Update CHANGELOG.md
  libs/oidc/CHANGELOG.md
Due: none

Fix missing axios dependency (#229)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
Due: none

Release oidc (#230)
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  package-lock.json
Due: none

fix package-lock
  package-lock.json
Due: none

feat(proxy): :zap: Adds an option to opt out from token fowrarding (per service)
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/package.json
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/services/proxy.service.ts
  src/configs/proxy-config.service.ts
Due: proxy

unit test coverage
  libs/proxy/src/services/proxy.service.spec.ts
Due: proxy

feat(proxy): :zap: Adds an option to opt out from token fowrarding (#231)
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/package.json
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
  src/configs/proxy-config.service.ts
Due: proxy

feat(proxy): :sparkles: List cookies you want to proxy in the `allowedCookies` option
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/proxy.module.spec.ts
  libs/proxy/src/proxy.module.ts
  src/configs/proxy-config.service.ts
Due: proxy
