Repository Finastra/finastra-nodejs-libs: changes, and which Codecov flags are due for each by the changed paths.
All: oidc, proxy

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      default:
        target: 80%

comment: false

flags:
  oidc:
    paths:
      - libs/oidc/src/
  proxy:
    paths:
      - libs/proxy/src/

"test(oidc): Full coverage for strategy"
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
Due: oidc

doc(oidc): update changelog
  libs/oidc/CHANGELOG.md
Due: none

feat(oidc): configurable idleTime + doc
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/oidc.module.ts
Due: oidc

refactor(oidc): Add default idleTime in constants
  libs/oidc/src/mocks.ts
  libs/oidc/src/oidc.constants.ts
  libs/oidc/src/oidc.module.ts
Due: oidc

fix(oidc): Fix compatibility with proxy module
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: oidc, proxy

fix(proxy): Fix accessToken typo
  libs/proxy/CHANGELOG.md
  libs/proxy/package.json
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

fix(oidc): Fix refresh token with single authToken 🤓
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/utils/oidc-helpers.util.spec.ts
  libs/oidc/src/utils/oidc-helpers.util.ts
Due: oidc

feat(corp-accounts): Compatible with 0.10.0 onwards
  libs/ffdc-apis/corporate-accounts/CHANGELOG.md
  libs/ffdc-apis/corporate-accounts/package.json
  libs/ffdc-apis/corporate-accounts/src/interfaces/ffdc.interface.ts
  libs/ffdc-apis/corporate-accounts/src/services/corporate-accounts.service.spec.ts
  libs/ffdc-apis/corporate-accounts/src/services/request.service.ts
Due: none

feat(oidc): multitenancy POC
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/guards/oidc.guard.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/user-info.ts
  src/cats/cats.controller.ts
Due: oidc

feat(oidc): remove useless line
  libs/oidc/src/controllers/auth.controller.ts
Due: oidc

Change var to let
  libs/oidc/src/controllers/auth.controller.ts
Due: oidc

feat(oidc): add oidcHelpersService to create strategy only once for single tenant
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/index.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/index.ts
  libs/oidc/src/services/oidc-helpers.service.ts
Due: oidc

feat(oidc): multitenant login return to prefixed root url
  libs/oidc/src/controllers/auth.controller.ts
  src/cats/cats.controller.ts
Due: oidc

feat(oidc): prefix logout and redirect to associated login page, + fix login page display on logout
  libs/oidc/src/assets/loggedout.html
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/guards/index.ts
  libs/oidc/src/guards/oidc.guard.spec.ts
  libs/oidc/src/guards/oidc.guard.ts
  libs/oidc/src/middlewares/index.ts
  libs/oidc/src/middlewares/login.middleware.ts
  libs/oidc/src/oidc.module.ts
Due: oidc

feat(oidc): refresh and check token for multitenant and re order file
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/guards/token.guard.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/utils/oidc-helpers.util.ts
Due: oidc

feat(oidc): rename oidcService and handle unavailable routes with decorator and guard
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/decorators/available-route.decorator.ts
  libs/oidc/src/decorators/index.ts
  libs/oidc/src/guards/index.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/index.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

refactor(oidc): Move createStrategy to a separate service
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/auth.service.ts
  libs/oidc/src/services/index.ts
Due: oidc

test(oidc): use OidcService instead of OidcHelpers
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

feat(oidc): separate auth controllers for single and multitenant
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/index.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/auth.service.ts
  libs/oidc/src/services/index.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

feat(oidc): put decorator in controller level
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

feat(oidc): if tenant or channel change in url, return not found
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.ts
Due: oidc

feat(oidc): fix single tenancy login with routes conflicts
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/oidc.module.ts
  src/app.module.ts
Due: oidc

feat(oidc): refacto to remove oidcHelpers and tests
  libs/oidc/src/controllers/auth-multitenant.controller.spec.ts
  libs/oidc/src/guards/tenancy.guard.spec.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/middlewares/login.middleware.spec.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/oidc.module.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/external-idps.spec.ts
  libs/oidc/src/utils/external-idps.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/oidc-helpers.util.spec.ts
  libs/oidc/src/utils/oidc-helpers.util.ts
  libs/oidc/src/utils/user-info.spec.ts
  libs/oidc/src/utils/user-info.ts
Due: oidc

test(oidc): oidc service
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

feat(oidc): multitenancy POC (#64)
  libs/oidc/src/assets/loggedout.html
  libs/oidc/src/controllers/auth-multitenant.controller.spec.ts
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/index.ts
  libs/oidc/src/decorators/available-route.decorator.ts
  libs/oidc/src/decorators/index.ts
  libs/oidc/src/guards/index.ts
  libs/oidc/src/guards/oidc.guard.spec.ts
  libs/oidc/src/guards/oidc.guard.ts
  libs/oidc/src/guards/tenancy.guard.spec.ts
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/guards/token.guard.ts
  libs/oidc/src/index.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/middlewares/index.ts
  libs/oidc/src/middlewares/login.middleware.spec.ts
  libs/oidc/src/middlewares/login.middleware.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/oidc.module.spec.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/services/index.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/external-idps.spec.ts
  libs/oidc/src/utils/external-idps.ts
  libs/oidc/src/utils/index.ts
  libs/oidc/src/utils/oidc-helpers.util.spec.ts
  libs/oidc/src/utils/oidc-helpers.util.ts
  libs/oidc/src/utils/user-info.spec.ts
  libs/oidc/src/utils/user-info.ts
  src/app.module.ts
  src/cats/cats.controller.ts
Due: oidc

doc(oidc): upgrade version and add doc for multitenancy
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
Due: none

feat(oidc): decorator @isAvailableRouteForMultitenant can be added for class or function, fix if there is no tenant and channel in url
  libs/oidc/src/guards/tenancy.guard.ts
Due: oidc

fix(oidc): create strategy on user middleware for REST call without authentication, fix tokenStore for multiple users coming from multiple idps
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

feat(proxy): handle tenant and channel prefix for proxy
  libs/proxy/src/controllers/index.ts
  libs/proxy/src/controllers/proxy-multitenant.controller.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.ts
  src/app.module.ts
  src/cats/cats.controller.ts
Due: proxy

feat(oidc): fix oidc auth with no tenantId in url, add documentation and upgrade version
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/middlewares/user.middleware.ts
Due: oidc

feat(proxy): Remove multitenancy logic, add doc and upgrade version
  libs/proxy/CHANGELOG.md
  libs/proxy/README.md
  libs/proxy/package.json
  libs/proxy/src/controllers/index.ts
  libs/proxy/src/controllers/proxy-multitenant.controller.ts
  libs/proxy/src/controllers/proxy.controller.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

Update libs/oidc/README.md
  libs/oidc/README.md
Due: none

fix(oidc): add token store key in a function
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

test(oidc/proxy)
  libs/oidc/src/controllers/auth-multitenant.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/guards/tenancy.guard.spec.ts
  libs/oidc/src/middlewares/user.middleware.spec.ts
  libs/oidc/src/middlewares/user.middleware.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/proxy/src/services/proxy.service.spec.ts
Due: oidc, proxy

test(oidc): fix proxy controller test
  libs/proxy/src/controllers/proxy.controller.spec.ts
Due: proxy

feat(oidc): tenancy guard now handles GraphQL context
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/guards/tenancy.guard.spec.ts
  libs/oidc/src/guards/tenancy.guard.ts
  package.json
Due: oidc

feat(oidc): Remove check-token endpoint, replace with refresh-token, token is refreshed if the access token is expired
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth-multitenant.controller.spec.ts
  libs/oidc/src/controllers/auth-multitenant.controller.ts
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/oidc.constants.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

fix(oidc): 421 for tenancy guard
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/guards/tenancy.guard.spec.ts
  libs/oidc/src/guards/tenancy.guard.ts
  package.json
Due: oidc

feat(oidc): Better handling of errors when fetching issuer
  libs/oidc/CHANGELOG.md
  libs/oidc/src/guards/tenancy.guard.ts
  libs/oidc/src/services/oidc.service.spec.ts
  libs/oidc/src/services/oidc.service.ts
Due: oidc

fix(oidc): Export OidcService
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/oidc.module.ts
Due: oidc
